In [1]:
# Dependencies
#!pip install Census
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import os
import datetime
import time
import json

# Census API Key
from config import api_key

In [2]:
c = Census(api_key, year=2017)
census_data1 = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:39'})

# Convert to DataFrame
OHhousing2017_pd = pd.DataFrame(census_data1)

c = Census(api_key, year=2017)
census_data2 = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:39'})

# Convert to DataFrame
OHedu2017_pd = pd.DataFrame(census_data2)

In [3]:
c = Census(api_key, year=2016)
census_data3 = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:39'})

# Convert to DataFrame
OHhousing2016_pd = pd.DataFrame(census_data3)

c = Census(api_key, year=2016)
census_data4 = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:39'})

# Convert to DataFrame
OHedu2016_pd = pd.DataFrame(census_data4)

In [4]:
c = Census(api_key, year=2015)
census_data5 = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:39'})

# Convert to DataFrame
OHhousing2015_pd = pd.DataFrame(census_data5)

c = Census(api_key, year=2015)
census_data6 = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:39'})

# Convert to DataFrame
OHedu2015_pd = pd.DataFrame(census_data6)

In [5]:
c = Census(api_key, year=2014)
census_data7 = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:39'})

# Convert to DataFrame
OHhousing2014_pd = pd.DataFrame(census_data7)

c = Census(api_key, year=2014)
census_data8 = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:39'})

# Convert to DataFrame
OHedu2014_pd = pd.DataFrame(census_data8)

In [6]:
c = Census(api_key, year=2013)
census_data9 = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:39'})

# Convert to DataFrame
OHhousing2013_pd = pd.DataFrame(census_data9)

c = Census(api_key, year=2013)
census_data10 = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:39'})

# Convert to DataFrame
OHedu2013_pd = pd.DataFrame(census_data10)

In [7]:
c = Census(api_key, year=2012)
census_data11 = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:39'})

# Convert to DataFrame
OHhousing2012_pd = pd.DataFrame(census_data11)
OHhousing2012_pd

,B01003_001E,B17001_002E,B19013_001E,B23025_005E,B25064_001E,B25077_001E,B25088_002E,NAME,state
0,11533561.0,1723485.0,48246.0,569218.0,710.0,133700.0,1303.0,Ohio,39

In [8]:
c = Census(api_key, year=2012)
census_data12 = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:39'})

# Convert to DataFrame
OHedu2012_pd = pd.DataFrame(census_data12)
OHedu2012_pd

,B01003_001E,B15003_002E,B15003_017E,B15003_018E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,NAME,state
0,11533561.0,63192.0,2403387.0,291496.0,593037.0,1207216.0,504926.0,122033.0,74264.0,Ohio,39

In [9]:
OHedu23 = OHedu2012_pd.append(OHedu2013_pd)
OHedu234 = OHedu23.append(OHedu2014_pd)
OHedu2345 = OHedu234.append(OHedu2015_pd)
OHedu23456= OHedu2345.append(OHedu2016_pd)
OHedu234567 = OHedu23456.append(OHedu2017_pd)
OHedu234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
OHedu234567

,Year,B01003_001E,B15003_002E,B15003_017E,B15003_018E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,NAME,state
0,2012,11533561.0,63192.0,2403387.0,291496.0,593037.0,1207216.0,504926.0,122033.0,74264.0,Ohio,39
0,2013,11549590.0,65640.0,2392326.0,295839.0,607861.0,1227819.0,521105.0,122484.0,77052.0,Ohio,39
0,2014,11560380.0,66013.0,2384432.0,297600.0,627729.0,1252463.0,537384.0,122786.0,81230.0,Ohio,39
0,2015,11575977.0,68837.0,2369349.0,299967.0,643162.0,1278763.0,554000.0,124512.0,82753.0,Ohio,39
0,2016,11586941.0,68548.0,2352099.0,302041.0,658910.0,1310995.0,571298.0,126124.0,84458.0,Ohio,39
0,2017,11609756.0,67808.0,2342883.0,303725.0,672658.0,1341204.0,591026.0,129078.0,87319.0,Ohio,39

In [10]:
OHhousing23 = OHhousing2012_pd.append(OHhousing2013_pd)
OHhousing234 = OHhousing23.append(OHhousing2014_pd)
OHhousing2345 = OHhousing234.append(OHhousing2015_pd)
OHhousing23456= OHhousing2345.append(OHhousing2016_pd)
OHhousing234567 = OHhousing23456.append(OHhousing2017_pd)
OHhousing234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
OHhousing234567

,Year,B01003_001E,B17001_002E,B19013_001E,B23025_005E,B25064_001E,B25077_001E,B25088_002E,NAME,state
0,2012,11533561.0,1723485.0,48246.0,569218.0,710.0,133700.0,1303.0,Ohio,39
0,2013,11549590.0,1773853.0,48308.0,582953.0,718.0,130800.0,1288.0,Ohio,39
0,2014,11560380.0,1790564.0,48849.0,536573.0,729.0,129600.0,1274.0,Ohio,39
0,2015,11575977.0,1775836.0,49429.0,477251.0,730.0,129900.0,1246.0,Ohio,39
0,2016,11586941.0,1732839.0,50674.0,423956.0,743.0,131900.0,1238.0,Ohio,39
0,2017,11609756.0,1683890.0,52407.0,378735.0,764.0,135100.0,1247.0,Ohio,39

In [11]:
c = Census(api_key, year=2017)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:18'})

# Convert to DataFrame
INhousing2017_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2017)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:18'})

# Convert to DataFrame
INedu2017_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2016)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:18'})
INhousing2016_pd = pd.DataFrame(census_data)
c = Census(api_key, year=2016)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:18'})
INedu2016_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:18'})
INhousing2015_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:18'})
INedu2015_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2014)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:18'})
INhousing2014_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2014)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:18'})
INedu2014_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:18'})
INhousing2013_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:18'})
INedu2013_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2012)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:18'})
INhousing2012_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2012)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:18'})
INedu2012_pd = pd.DataFrame(census_data)

In [12]:
INhousing23 = INhousing2012_pd.append(INhousing2013_pd)
INhousing234 = INhousing23.append(INhousing2014_pd)
INhousing2345 = INhousing234.append(INhousing2015_pd)
INhousing23456= INhousing2345.append(INhousing2016_pd)
INhousing234567 = INhousing23456.append(INhousing2017_pd)
INhousing234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
INhousing234567

,Year,B01003_001E,B17001_002E,B19013_001E,B23025_005E,B25064_001E,B25077_001E,B25088_002E,NAME,state
0,2012,6485530.0,927123.0,48374.0,309363.0,719.0,123400.0,1150.0,Indiana,18
0,2013,6514861.0,969881.0,48248.0,315476.0,730.0,122800.0,1134.0,Indiana,18
0,2014,6542411.0,983826.0,48737.0,290469.0,741.0,122700.0,1119.0,Indiana,18
0,2015,6568645.0,978043.0,49255.0,258739.0,745.0,124200.0,1102.0,Indiana,18
0,2016,6589578.0,957694.0,50433.0,228929.0,758.0,126500.0,1097.0,Indiana,18
0,2017,6614418.0,933540.0,52182.0,202199.0,782.0,130200.0,1109.0,Indiana,18

In [13]:
INedu23 = INedu2012_pd.append(INedu2013_pd)
INedu234 = INedu23.append(INedu2014_pd)
INedu2345 = INedu234.append(INedu2015_pd)
INedu23456= INedu2345.append(INedu2016_pd)
INedu234567 = INedu23456.append(INedu2017_pd)
INedu234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
INedu234567

,Year,B01003_001E,B15003_002E,B15003_017E,B15003_018E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,NAME,state
0,2012,6485530.0,36500.0,1288078.0,210017.0,326036.0,623200.0,252486.0,56453.0,39868.0,Indiana,18
0,2013,6514861.0,37569.0,1286939.0,213763.0,334834.0,632094.0,258886.0,55880.0,40860.0,Indiana,18
0,2014,6542411.0,39423.0,1283193.0,215785.0,345740.0,647692.0,268080.0,55789.0,41235.0,Indiana,18
0,2015,6568645.0,39319.0,1272879.0,221423.0,355635.0,664747.0,275285.0,57184.0,43040.0,Indiana,18
0,2016,6589578.0,39122.0,1261742.0,224309.0,364277.0,681986.0,283692.0,59629.0,42755.0,Indiana,18
0,2017,6614418.0,39437.0,1248705.0,226167.0,372514.0,704841.0,295381.0,61395.0,44691.0,Indiana,18

In [14]:
c = Census(api_key, year=2017)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:21'})

# Convert to DataFrame
KYhousing2017_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2017)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:21'})

# Convert to DataFrame
KYedu2017_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2016)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:21'})
KYhousing2016_pd = pd.DataFrame(census_data)
c = Census(api_key, year=2016)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:21'})
KYedu2016_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:21'})
KYhousing2015_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:21'})
KYedu2015_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2014)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:21'})
KYhousing2014_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2014)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:21'})
KYedu2014_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:21'})
KYhousing2013_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:21'})
KYedu2013_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2012)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:21'})
KYhousing2012_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2012)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:21'})
KYedu2012_pd = pd.DataFrame(census_data)

In [15]:
KYhousing23 = KYhousing2012_pd.append(KYhousing2013_pd)
KYhousing234 = KYhousing23.append(KYhousing2014_pd)
KYhousing2345 = KYhousing234.append(KYhousing2015_pd)
KYhousing23456= KYhousing2345.append(KYhousing2016_pd)
KYhousing234567 = KYhousing23456.append(KYhousing2017_pd)
KYhousing234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
KYhousing234567

,Year,B01003_001E,B17001_002E,B19013_001E,B23025_005E,B25064_001E,B25077_001E,B25088_002E,NAME,state
0,2012,4340167.0,781485.0,42610.0,194610.0,638.0,120000.0,1120.0,Kentucky,21
0,2013,4361333.0,796202.0,43036.0,201987.0,655.0,120400.0,1123.0,Kentucky,21
0,2014,4383272.0,803866.0,43342.0,192877.0,667.0,121600.0,1124.0,Kentucky,21
0,2015,4397353.0,805841.0,43740.0,174308.0,675.0,123200.0,1112.0,Kentucky,21
0,2016,4411989.0,804139.0,44811.0,156509.0,690.0,126100.0,1116.0,Kentucky,21
0,2017,4424376.0,783586.0,46535.0,140717.0,713.0,130000.0,1131.0,Kentucky,21

In [16]:
KYedu23 = KYedu2012_pd.append(KYedu2013_pd)
KYedu234 = KYedu23.append(KYedu2014_pd)
KYedu2345 = KYedu234.append(KYedu2015_pd)
KYedu23456= KYedu2345.append(KYedu2016_pd)
KYedu234567 = KYedu23456.append(KYedu2017_pd)
KYedu234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
KYedu234567

,Year,B01003_001E,B15003_002E,B15003_017E,B15003_018E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,NAME,state
0,2012,4340167.0,31623.0,785247.0,202761.0,199940.0,361888.0,175964.0,46933.0,24142.0,Kentucky,21
0,2013,4361333.0,32009.0,786950.0,202117.0,206790.0,372738.0,183161.0,47346.0,25428.0,Kentucky,21
0,2014,4383272.0,32662.0,788478.0,203042.0,214363.0,377949.0,188011.0,47619.0,26453.0,Kentucky,21
0,2015,4397353.0,32837.0,788112.0,205741.0,221409.0,386554.0,196117.0,48471.0,27802.0,Kentucky,21
0,2016,4411989.0,32514.0,786862.0,203460.0,231405.0,397154.0,199251.0,49576.0,28184.0,Kentucky,21
0,2017,4424376.0,32245.0,784789.0,203732.0,238060.0,406916.0,205326.0,51749.0,28577.0,Kentucky,21

In [17]:
c = Census(api_key, year=2017)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:26'})

# Convert to DataFrame
MIhousing2017_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2017)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:26'})

# Convert to DataFrame
MIedu2017_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2016)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:26'})
MIhousing2016_pd = pd.DataFrame(census_data)
c = Census(api_key, year=2016)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:26'})
MIedu2016_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:26'})
MIhousing2015_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:26'})
MIedu2015_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2014)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:26'})
MIhousing2014_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2014)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:26'})
MIedu2014_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:26'})
MIhousing2013_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:26'})
MIedu2013_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2012)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:26'})
MIhousing2012_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2012)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:26'})
MIedu2012_pd = pd.DataFrame(census_data)

In [18]:
MIhousing23 = MIhousing2012_pd.append(MIhousing2013_pd)
MIhousing234 = MIhousing23.append(MIhousing2014_pd)
MIhousing2345 = MIhousing234.append(MIhousing2015_pd)
MIhousing23456= MIhousing2345.append(MIhousing2016_pd)
MIhousing234567 = MIhousing23456.append(MIhousing2017_pd)
MIhousing234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
MIhousing234567

,Year,B01003_001E,B17001_002E,B19013_001E,B23025_005E,B25064_001E,B25077_001E,B25088_002E,NAME,state
0,2012,9897264.0,1582022.0,48471.0,614849.0,755.0,128600.0,1355.0,Michigan,26
0,2013,9886095.0,1625982.0,48411.0,616469.0,768.0,121700.0,1325.0,Michigan,26
0,2014,9889024.0,1633316.0,49087.0,554747.0,780.0,120200.0,1295.0,Michigan,26
0,2015,9900571.0,1616870.0,49576.0,477746.0,783.0,122400.0,1257.0,Michigan,26
0,2016,9909600.0,1575066.0,50803.0,412934.0,799.0,127800.0,1242.0,Michigan,26
0,2017,9925568.0,1510841.0,52668.0,361624.0,824.0,136400.0,1251.0,Michigan,26

In [19]:
MIedu23 = MIedu2012_pd.append(MIedu2013_pd)
MIedu234 = MIedu23.append(MIedu2014_pd)
MIedu2345 = MIedu234.append(MIedu2015_pd)
MIedu23456= MIedu2345.append(MIedu2016_pd)
MIedu234567 = MIedu23456.append(MIedu2017_pd)
MIedu234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
MIedu234567

,Year,B01003_001E,B15003_002E,B15003_017E,B15003_018E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,NAME,state
0,2012,9897264.0,67506.0,1760439.0,260871.0,551652.0,1033830.0,473285.0,108256.0,63809.0,Michigan,26
0,2013,9886095.0,69695.0,1745288.0,260945.0,564950.0,1049930.0,486283.0,106937.0,67068.0,Michigan,26
0,2014,9889024.0,71758.0,1734029.0,263590.0,580404.0,1068984.0,499269.0,109396.0,71017.0,Michigan,26
0,2015,9900571.0,72158.0,1722171.0,266211.0,595198.0,1094936.0,512955.0,110322.0,73679.0,Michigan,26
0,2016,9909600.0,72694.0,1710082.0,268580.0,608429.0,1117697.0,526378.0,111392.0,76331.0,Michigan,26
0,2017,9925568.0,72640.0,1697454.0,268656.0,622070.0,1147842.0,545875.0,114622.0,78702.0,Michigan,26

In [20]:
c = Census(api_key, year=2017)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:42'})

# Convert to DataFrame
PAhousing2017_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2017)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:42'})

# Convert to DataFrame
PAedu2017_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2016)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:42'})
PAhousing2016_pd = pd.DataFrame(census_data)
c = Census(api_key, year=2016)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:42'})
PAedu2016_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:42'})
PAhousing2015_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:42'})
PAedu2015_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2014)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:42'})
PAhousing2014_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2014)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:42'})
PAedu2014_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:42'})
PAhousing2013_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:42'})
PAedu2013_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2012)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:42'})
PAhousing2012_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2012)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:42'})
PAedu2012_pd = pd.DataFrame(census_data)

In [21]:
PAhousing23 = PAhousing2012_pd.append(PAhousing2013_pd)
PAhousing234 = PAhousing23.append(PAhousing2014_pd)
PAhousing2345 = PAhousing234.append(PAhousing2015_pd)
PAhousing23456= PAhousing2345.append(PAhousing2016_pd)
PAhousing234567 = PAhousing23456.append(PAhousing2017_pd)
PAhousing234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
PAhousing234567

,Year,B01003_001E,B17001_002E,B19013_001E,B23025_005E,B25064_001E,B25077_001E,B25088_002E,NAME,state
0,2012,12699589.0,1604464.0,52267.0,548580.0,794.0,164900.0,1447.0,Pennsylvania,42
0,2013,12731381.0,1638820.0,52548.0,581533.0,813.0,164700.0,1442.0,Pennsylvania,42
0,2014,12758729.0,1667858.0,53115.0,556468.0,832.0,164900.0,1443.0,Pennsylvania,42
0,2015,12779559.0,1666569.0,53599.0,514993.0,840.0,166000.0,1425.0,Pennsylvania,42
0,2016,12783977.0,1647762.0,54895.0,468440.0,859.0,167700.0,1426.0,Pennsylvania,42
0,2017,12790505.0,1623537.0,56951.0,422016.0,885.0,170500.0,1446.0,Pennsylvania,42

In [22]:
PAedu23 = PAedu2012_pd.append(PAedu2013_pd)
PAedu234 = PAedu23.append(PAedu2014_pd)
PAedu2345 = PAedu234.append(PAedu2015_pd)
PAedu23456= PAedu2345.append(PAedu2016_pd)
PAedu234567 = PAedu23456.append(PAedu2017_pd)
PAedu234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
PAedu234567

,Year,B01003_001E,B15003_002E,B15003_017E,B15003_018E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,NAME,state
0,2012,12699589.0,81124.0,2885353.0,337023.0,649107.0,1439079.0,632138.0,161689.0,108971.0,Pennsylvania,42
0,2013,12731381.0,83093.0,2883622.0,344363.0,661608.0,1468125.0,656458.0,162842.0,112239.0,Pennsylvania,42
0,2014,12758729.0,85128.0,2872856.0,348332.0,677250.0,1502205.0,680881.0,163726.0,115989.0,Pennsylvania,42
0,2015,12779559.0,86400.0,2855340.0,352649.0,698397.0,1535222.0,702244.0,165557.0,119014.0,Pennsylvania,42
0,2016,12783977.0,87634.0,2831106.0,352143.0,712180.0,1578040.0,725919.0,168216.0,123775.0,Pennsylvania,42
0,2017,12790505.0,88660.0,2811564.0,350222.0,724522.0,1621733.0,752518.0,171742.0,127226.0,Pennsylvania,42

In [23]:
c = Census(api_key, year=2017)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:54'})

# Convert to DataFrame
WVhousing2017_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2017)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:54'})

# Convert to DataFrame
WVedu2017_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2016)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:54'})
WVhousing2016_pd = pd.DataFrame(census_data)
c = Census(api_key, year=2016)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:54'})
WVedu2016_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:54'})
WVhousing2015_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:54'})
WVedu2015_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2014)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:54'})
WVhousing2014_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2014)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:54'})
WVedu2014_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:54'})
WVhousing2013_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2013)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:54'})
WVedu2013_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2012)
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E"),{'for': 'state:54'})
WVhousing2012_pd = pd.DataFrame(census_data)

c = Census(api_key, year=2012)
census_data = c.acs5.get(("NAME", "B01003_001E", "B15003_002E", "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E"),{'for': 'state:54'})
WVedu2012_pd = pd.DataFrame(census_data)

In [24]:
WVhousing23 = WVhousing2012_pd.append(WVhousing2013_pd)
WVhousing234 = WVhousing23.append(WVhousing2014_pd)
WVhousing2345 = WVhousing234.append(WVhousing2015_pd)
WVhousing23456= WVhousing2345.append(WVhousing2016_pd)
WVhousing234567 = WVhousing23456.append(WVhousing2017_pd)
WVhousing234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
WVhousing234567

,Year,B01003_001E,B17001_002E,B19013_001E,B23025_005E,B25064_001E,B25077_001E,B25088_002E,NAME,state
0,2012,1850481.0,316526.0,40400.0,65115.0,594.0,97300.0,953.0,West Virginia,54
0,2013,1853619.0,321546.0,41043.0,69351.0,611.0,98500.0,965.0,West Virginia,54
0,2014,1853881.0,326225.0,41576.0,67035.0,630.0,100200.0,971.0,West Virginia,54
0,2015,1851420.0,323384.0,41751.0,63341.0,643.0,103800.0,966.0,West Virginia,54
0,2016,1846092.0,318060.0,42644.0,61215.0,658.0,107400.0,977.0,West Virginia,54
0,2017,1836843.0,317089.0,44061.0,57659.0,681.0,111600.0,997.0,West Virginia,54

In [25]:
WVedu23 = WVedu2012_pd.append(WVedu2013_pd)
WVedu234 = WVedu23.append(WVedu2014_pd)
WVedu2345 = WVedu234.append(WVedu2015_pd)
WVedu23456= WVedu2345.append(WVedu2016_pd)
WVedu234567 = WVedu23456.append(WVedu2017_pd)
WVedu234567.insert(0, "Year", [2012, 2013, 2014, 2015, 2016, 2017], True)
WVedu234567

,Year,B01003_001E,B15003_002E,B15003_017E,B15003_018E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,NAME,state
0,2012,1850481.0,11361.0,443920.0,84954.0,78939.0,142236.0,62806.0,16381.0,9995.0,West Virginia,54
0,2013,1853619.0,10965.0,443556.0,84691.0,81983.0,146020.0,64710.0,16721.0,10046.0,West Virginia,54
0,2014,1853881.0,10946.0,444839.0,86466.0,82939.0,150406.0,66496.0,16266.0,10298.0,West Virginia,54
0,2015,1851420.0,11071.0,442151.0,86404.0,85558.0,152377.0,69161.0,16676.0,10459.0,West Virginia,54
0,2016,1846092.0,11212.0,437243.0,87728.0,87889.0,153834.0,72391.0,16701.0,10780.0,West Virginia,54
0,2017,1836843.0,10439.0,438270.0,86440.0,89742.0,155423.0,74597.0,16296.0,11105.0,West Virginia,54

In [26]:
OHINhousing = OHhousing234567.append(INhousing234567)
OHINKYhousing = OHINhousing.append(KYhousing234567)
OHINKYMIhousing = OHINKYhousing.append(MIhousing234567)
OHINKYMIPAhousing = OHINKYMIhousing.append(PAhousing234567)
OHINKYMIPAWVhousing = OHINKYMIPAhousing.append(WVhousing234567)
OHINKYMIPAWVhousing

,Year,B01003_001E,B17001_002E,B19013_001E,B23025_005E,B25064_001E,B25077_001E,B25088_002E,NAME,state
0,2012,11533561.0,1723485.0,48246.0,569218.0,710.0,133700.0,1303.0,Ohio,39
0,2013,11549590.0,1773853.0,48308.0,582953.0,718.0,130800.0,1288.0,Ohio,39
0,2014,11560380.0,1790564.0,48849.0,536573.0,729.0,129600.0,1274.0,Ohio,39
0,2015,11575977.0,1775836.0,49429.0,477251.0,730.0,129900.0,1246.0,Ohio,39
0,2016,11586941.0,1732839.0,50674.0,423956.0,743.0,131900.0,1238.0,Ohio,39
0,2017,11609756.0,1683890.0,52407.0,378735.0,764.0,135100.0,1247.0,Ohio,39
0,2012,6485530.0,927123.0,48374.0,309363.0,719.0,123400.0,1150.0,Indiana,18
0,2013,6514861.0,969881.0,48248.0,315476.0,730.0,122800.0,1134.0,Indiana,18
0,2014,6542411.0,983826.0,48737.0,290469.0,741.0,122700.0,1119.0,Indiana,18
0,2015,6568645.0,978043.0,49255.0,258739.0,745.0,124200.0,1102.0,Indiana,18
0,2016,6589578.0,957694.0,50433.0,228929.0,758.0,126500.0,1097.0,Indiana,18
0,2017,6614418.0,933540.0,52182.0,202199.0,782.0,130200.0,1109.0,Indiana,18
0,2012,4340167.0,781485.0,42610.0,194610.0,638.0,120000.0,1120.0,Kentucky,21
0,2013,4361333.0,796202.0,43036.0,201987.0,655.0,120400.0,1123.0,Kentucky,21
0,2014,4383272.0,803866.0,43342.0,192877.0,667.0,121600.0,1124.0,Kentucky,21
0,2015,4397353.0,805841.0,43740.0,174308.0,675.0,123200.0,1112.0,Kentucky,21
0,2016,4411989.0,804139.0,44811.0,156509.0,690.0,126100.0,1116.0,Kentucky,21
0,2017,4424376.0,783586.0,46535.0,140717.0,713.0,130000.0,1131.0,Kentucky,21
0,2012,9897264.0,1582022.0,48471.0,614849.0,755.0,128600.0,1355.0,Michigan,26
0,2013,9886095.0,1625982.0,48411.0,616469.0,768.0,121700.0,1325.0,Michigan,26
0,2014,9889024.0,1633316.0,49087.0,554747.0,780.0,120200.0,1295.0,Michigan,26
0,2015,9900571.0,1616870.0,49576.0,477746.0,783.0,122400.0,1257.0,Michigan,26
0,2016,9909600.0,1575066.0,50803.0,412934.0,799.0,127800.0,1242.0,Michigan,26
0,2017,9925568.0,1510841.0,52668.0,361624.0,824.0,136400.0,1251.0,Michigan,26
0,2012,12699589.0,1604464.0,52267.0,548580.0,794.0,164900.0,1447.0,Pennsylvania,42
0,2013,12731381.0,1638820.0,52548.0,581533.0,813.0,164700.0,1442.0,Pennsylvania,42
0,2014,12758729.0,1667858.0,53115.0,556468.0,832.0,164900.0,1443.0,Pennsylvania,42
0,2015,12779559.0,1666569.0,53599.0,514993.0,840.0,166000.0,1425.0,Pennsylvania,42
0,2016,12783977.0,1647762.0,54895.0,468440.0,859.0,167700.0,1426.0,Pennsylvania,42
0,2017,12790505.0,1623537.0,56951.0,422016.0,885.0,170500.0,1446.0,Pennsylvania,42
0,2012,1850481.0,316526.0,40400.0,65115.0,594.0,97300.0,953.0,West Virginia,54
0,2013,1853619.0,321546.0,41043.0,69351.0,611.0,98500.0,965.0,West Virginia,54
0,2014,1853881.0,326225.0,41576.0,67035.0,630.0,100200.0,971.0,West Virginia,54
0,2015,1851420.0,323384.0,41751.0,63341.0,643.0,103800.0,966.0,West Virginia,54
0,2016,1846092.0,318060.0,42644.0,61215.0,658.0,107400.0,977.0,West Virginia,54
0,2017,1836843.0,317089.0,44061.0,57659.0,681.0,111600.0,997.0,West Virginia,54

In [27]:
OHINedu = OHedu234567.append(INedu234567)
OHINKYedu = OHINedu.append(KYedu234567)
OHINKYMIedu = OHINKYedu.append(MIedu234567)
OHINKYMIPAedu = OHINKYMIedu.append(PAedu234567)
OHINKYMIPAWVedu = OHINKYMIPAedu.append(WVedu234567)
OHINKYMIPAWVedu

,Year,B01003_001E,B15003_002E,B15003_017E,B15003_018E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,NAME,state
0,2012,11533561.0,63192.0,2403387.0,291496.0,593037.0,1207216.0,504926.0,122033.0,74264.0,Ohio,39
0,2013,11549590.0,65640.0,2392326.0,295839.0,607861.0,1227819.0,521105.0,122484.0,77052.0,Ohio,39
0,2014,11560380.0,66013.0,2384432.0,297600.0,627729.0,1252463.0,537384.0,122786.0,81230.0,Ohio,39
0,2015,11575977.0,68837.0,2369349.0,299967.0,643162.0,1278763.0,554000.0,124512.0,82753.0,Ohio,39
0,2016,11586941.0,68548.0,2352099.0,302041.0,658910.0,1310995.0,571298.0,126124.0,84458.0,Ohio,39
0,2017,11609756.0,67808.0,2342883.0,303725.0,672658.0,1341204.0,591026.0,129078.0,87319.0,Ohio,39
0,2012,6485530.0,36500.0,1288078.0,210017.0,326036.0,623200.0,252486.0,56453.0,39868.0,Indiana,18
0,2013,6514861.0,37569.0,1286939.0,213763.0,334834.0,632094.0,258886.0,55880.0,40860.0,Indiana,18
0,2014,6542411.0,39423.0,1283193.0,215785.0,345740.0,647692.0,268080.0,55789.0,41235.0,Indiana,18
0,2015,6568645.0,39319.0,1272879.0,221423.0,355635.0,664747.0,275285.0,57184.0,43040.0,Indiana,18
0,2016,6589578.0,39122.0,1261742.0,224309.0,364277.0,681986.0,283692.0,59629.0,42755.0,Indiana,18
0,2017,6614418.0,39437.0,1248705.0,226167.0,372514.0,704841.0,295381.0,61395.0,44691.0,Indiana,18
0,2012,4340167.0,31623.0,785247.0,202761.0,199940.0,361888.0,175964.0,46933.0,24142.0,Kentucky,21
0,2013,4361333.0,32009.0,786950.0,202117.0,206790.0,372738.0,183161.0,47346.0,25428.0,Kentucky,21
0,2014,4383272.0,32662.0,788478.0,203042.0,214363.0,377949.0,188011.0,47619.0,26453.0,Kentucky,21
0,2015,4397353.0,32837.0,788112.0,205741.0,221409.0,386554.0,196117.0,48471.0,27802.0,Kentucky,21
0,2016,4411989.0,32514.0,786862.0,203460.0,231405.0,397154.0,199251.0,49576.0,28184.0,Kentucky,21
0,2017,4424376.0,32245.0,784789.0,203732.0,238060.0,406916.0,205326.0,51749.0,28577.0,Kentucky,21
0,2012,9897264.0,67506.0,1760439.0,260871.0,551652.0,1033830.0,473285.0,108256.0,63809.0,Michigan,26
0,2013,9886095.0,69695.0,1745288.0,260945.0,564950.0,1049930.0,486283.0,106937.0,67068.0,Michigan,26
0,2014,9889024.0,71758.0,1734029.0,263590.0,580404.0,1068984.0,499269.0,109396.0,71017.0,Michigan,26
0,2015,9900571.0,72158.0,1722171.0,266211.0,595198.0,1094936.0,512955.0,110322.0,73679.0,Michigan,26
0,2016,9909600.0,72694.0,1710082.0,268580.0,608429.0,1117697.0,526378.0,111392.0,76331.0,Michigan,26
0,2017,9925568.0,72640.0,1697454.0,268656.0,622070.0,1147842.0,545875.0,114622.0,78702.0,Michigan,26
0,2012,12699589.0,81124.0,2885353.0,337023.0,649107.0,1439079.0,632138.0,161689.0,108971.0,Pennsylvania,42
0,2013,12731381.0,83093.0,2883622.0,344363.0,661608.0,1468125.0,656458.0,162842.0,112239.0,Pennsylvania,42
0,2014,12758729.0,85128.0,2872856.0,348332.0,677250.0,1502205.0,680881.0,163726.0,115989.0,Pennsylvania,42
0,2015,12779559.0,86400.0,2855340.0,352649.0,698397.0,1535222.0,702244.0,165557.0,119014.0,Pennsylvania,42
0,2016,12783977.0,87634.0,2831106.0,352143.0,712180.0,1578040.0,725919.0,168216.0,123775.0,Pennsylvania,42
0,2017,12790505.0,88660.0,2811564.0,350222.0,724522.0,1621733.0,752518.0,171742.0,127226.0,Pennsylvania,42
0,2012,1850481.0,11361.0,443920.0,84954.0,78939.0,142236.0,62806.0,16381.0,9995.0,West Virginia,54
0,2013,1853619.0,10965.0,443556.0,84691.0,81983.0,146020.0,64710.0,16721.0,10046.0,West Virginia,54
0,2014,1853881.0,10946.0,444839.0,86466.0,82939.0,150406.0,66496.0,16266.0,10298.0,West Virginia,54
0,2015,1851420.0,11071.0,442151.0,86404.0,85558.0,152377.0,69161.0,16676.0,10459.0,West Virginia,54
0,2016,1846092.0,11212.0,437243.0,87728.0,87889.0,153834.0,72391.0,16701.0,10780.0,West Virginia,54
0,2017,1836843.0,10439.0,438270.0,86440.0,89742.0,155423.0,74597.0,16296.0,11105.0,West Virginia,54

In [28]:
# Column Reordering
Alledu = OHINKYMIPAWVedu.rename(columns={"B01003_001E": "Population", 
                                      "B15003_002E": "People_over_25_with_No_Schooling",
                                      "B15003_017E": "High_School_Diploma",
                                      "B15003_018E": "GED",
                                      "B15003_021E": "Associates_Degree",
                                      "B15003_022E": "Bachelors_Degree",
                                      "B15003_023E": "Masters_Degree",
                                      "B15003_024E": "Professional_Degree",
                                      "B15003_025E": "Doctoral_Degree", 
                                      "NAME": "Name"})

Alledu.head()

,Year,Population,People_over_25_with_No_Schooling,High_School_Diploma,GED,Associates_Degree,Bachelors_Degree,Masters_Degree,Professional_Degree,Doctoral_Degree,Name,state
0,2012,11533561.0,63192.0,2403387.0,291496.0,593037.0,1207216.0,504926.0,122033.0,74264.0,Ohio,39
0,2013,11549590.0,65640.0,2392326.0,295839.0,607861.0,1227819.0,521105.0,122484.0,77052.0,Ohio,39
0,2014,11560380.0,66013.0,2384432.0,297600.0,627729.0,1252463.0,537384.0,122786.0,81230.0,Ohio,39
0,2015,11575977.0,68837.0,2369349.0,299967.0,643162.0,1278763.0,554000.0,124512.0,82753.0,Ohio,39
0,2016,11586941.0,68548.0,2352099.0,302041.0,658910.0,1310995.0,571298.0,126124.0,84458.0,Ohio,39

In [29]:
# Column Reordering
Allhousing = OHINKYMIPAWVhousing.rename(columns={"B01003_001E": "Population", 
                                      "B23025_005E": "Unemployment_Count", 
                                      "B19013_001E": "Median_Household_Income",
                                      "B17001_002E": "People_Living_in_Poverty",
                                      "B25064_001E": "Average_Cost_of_Rent_and_Utilities_Combined",
                                      "B25077_001E": "Average_Value_of_an_Owner_Occupied_Home",
                                      "B25088_002E": "Average_Monthly_Housing_Expense_for_a_Homeowner_with_a_Mortgage",
                                      "NAME": "Name"})

Allhousing.head()

,Year,Population,People_Living_in_Poverty,Median_Household_Income,Unemployment_Count,Average_Cost_of_Rent_and_Utilities_Combined,Average_Value_of_an_Owner_Occupied_Home,Average_Monthly_Housing_Expense_for_a_Homeowner_with_a_Mortgage,Name,state
0,2012,11533561.0,1723485.0,48246.0,569218.0,710.0,133700.0,1303.0,Ohio,39
0,2013,11549590.0,1773853.0,48308.0,582953.0,718.0,130800.0,1288.0,Ohio,39
0,2014,11560380.0,1790564.0,48849.0,536573.0,729.0,129600.0,1274.0,Ohio,39
0,2015,11575977.0,1775836.0,49429.0,477251.0,730.0,129900.0,1246.0,Ohio,39
0,2016,11586941.0,1732839.0,50674.0,423956.0,743.0,131900.0,1238.0,Ohio,39

In [30]:
Alledu["No_Schooling_Rate"] = 100 * \
    Alledu["People_over_25_with_No_Schooling"].astype(
        int) / Alledu["Population"].astype(int)

Alledu["High_School_Education_Rate"] = 100 * \
    Alledu["High_School_Diploma"].astype(
        int) / Alledu["Population"].astype(int)

Alledu["GED_Rate"] = 100 * \
    Alledu["GED"].astype(
        int) / Alledu["Population"].astype(int)

Alledu["Associates_Degree_Rate"] = 100 * \
    Alledu["Associates_Degree"].astype(
        int) / Alledu["Population"].astype(int)

Alledu["Bachelors_Degree_Rate"] = 100 * \
    Alledu["Bachelors_Degree"].astype(
        int) / Alledu["Population"].astype(int)

Alledu["Masters_Degree_Rate"] = 100 * \
    Alledu["Masters_Degree"].astype(
        int) / Alledu["Population"].astype(int)

Alledu["Professional_Degree_Rate"] = 100 * \
    Alledu["Professional_Degree"].astype(
        int) / Alledu["Population"].astype(int)

Alledu["Doctoral_Degree Rate"] = 100 * \
    Alledu["Doctoral_Degree"].astype(
        int) / Alledu["Population"].astype(int)

Alledu

,Year,Population,People_over_25_with_No_Schooling,High_School_Diploma,GED,Associates_Degree,Bachelors_Degree,Masters_Degree,Professional_Degree,Doctoral_Degree,Name,state,No_Schooling_Rate,High_School_Education_Rate,GED_Rate,Associates_Degree_Rate,Bachelors_Degree_Rate,Masters_Degree_Rate,Professional_Degree_Rate,Doctoral_Degree Rate
0,2012,11533561.0,63192.0,2403387.0,291496.0,593037.0,1207216.0,504926.0,122033.0,74264.0,Ohio,39,0.547897,20.838204,2.527372,5.141838,10.466984,4.377885,1.058069,0.643895
0,2013,11549590.0,65640.0,2392326.0,295839.0,607861.0,1227819.0,521105.0,122484.0,77052.0,Ohio,39,0.568332,20.713515,2.561468,5.263053,10.630845,4.511892,1.060505,0.667141
0,2014,11560380.0,66013.0,2384432.0,297600.0,627729.0,1252463.0,537384.0,122786.0,81230.0,Ohio,39,0.571028,20.625896,2.574310,5.430003,10.834099,4.648498,1.062128,0.702659
0,2015,11575977.0,68837.0,2369349.0,299967.0,643162.0,1278763.0,554000.0,124512.0,82753.0,Ohio,39,0.594654,20.467810,2.591289,5.556006,11.046696,4.785773,1.075607,0.714868
0,2016,11586941.0,68548.0,2352099.0,302041.0,658910.0,1310995.0,571298.0,126124.0,84458.0,Ohio,39,0.591597,20.299568,2.606736,5.686661,11.314419,4.930533,1.088501,0.728907
0,2017,11609756.0,67808.0,2342883.0,303725.0,672658.0,1341204.0,591026.0,129078.0,87319.0,Ohio,39,0.584061,20.180295,2.616119,5.793903,11.552387,5.090770,1.111806,0.752117
0,2012,6485530.0,36500.0,1288078.0,210017.0,326036.0,623200.0,252486.0,56453.0,39868.0,Indiana,18,0.562791,19.860798,3.238240,5.027130,9.609084,3.893067,0.870445,0.614722
0,2013,6514861.0,37569.0,1286939.0,213763.0,334834.0,632094.0,258886.0,55880.0,40860.0,Indiana,18,0.576666,19.753898,3.281160,5.139542,9.702341,3.973776,0.857731,0.627181
0,2014,6542411.0,39423.0,1283193.0,215785.0,345740.0,647692.0,268080.0,55789.0,41235.0,Indiana,18,0.602576,19.613457,3.298249,5.284596,9.899898,4.097572,0.852728,0.630272
0,2015,6568645.0,39319.0,1272879.0,221423.0,355635.0,664747.0,275285.0,57184.0,43040.0,Indiana,18,0.598586,19.378106,3.370908,5.414130,10.120002,4.190895,0.870560,0.655234
0,2016,6589578.0,39122.0,1261742.0,224309.0,364277.0,681986.0,283692.0,59629.0,42755.0,Indiana,18,0.593695,19.147539,3.403996,5.528078,10.349464,4.305162,0.904899,0.648828
0,2017,6614418.0,39437.0,1248705.0,226167.0,372514.0,704841.0,295381.0,61395.0,44691.0,Indiana,18,0.596228,18.878532,3.419303,5.631848,10.656130,4.465714,0.928200,0.675660
0,2012,4340167.0,31623.0,785247.0,202761.0,199940.0,361888.0,175964.0,46933.0,24142.0,Kentucky,21,0.728613,18.092553,4.671733,4.606735,8.338112,4.054314,1.081364,0.556246
0,2013,4361333.0,32009.0,786950.0,202117.0,206790.0,372738.0,183161.0,47346.0,25428.0,Kentucky,21,0.733927,18.043795,4.634294,4.741440,8.546424,4.199656,1.085586,0.583033
0,2014,4383272.0,32662.0,788478.0,203042.0,214363.0,377949.0,188011.0,47619.0,26453.0,Kentucky,21,0.745151,17.988343,4.632202,4.890479,8.622531,4.289284,1.086380,0.603499
0,2015,4397353.0,32837.0,788112.0,205741.0,221409.0,386554.0,196117.0,48471.0,27802.0,Kentucky,21,0.746745,17.922418,4.678747,5.035052,8.790607,4.459888,1.102277,0.632244
0,2016,4411989.0,32514.0,786862.0,203460.0,231405.0,397154.0,199251.0,49576.0,28184.0,Kentucky,21,0.736947,17.834632,4.611526,5.244913,9.001700,4.516126,1.123666,0.638805
0,2017,4424376.0,32245.0,784789.0,203732.0,238060.0,406916.0,205326.0,51749.0,28577.0,Kentucky,21,0.728803,17.737846,4.604762,5.380646,9.197139,4.640790,1.169634,0.645899
0,2012,9897264.0,67506.0,1760439.0,260871.0,551652.0,1033830.0,473285.0,108256.0,63809.0,Michigan,26,0.682067,17.787128,2.635789,5.573783,10.445614,4.781978,1.093797,0.644714
0,2013,9886095.0,69695.0,1745288.0,260945.0,564950.0,1049930.0,486283.0,106937.0,67068.0,Michigan,26,0.704980,17.653968,2.639515,5.714592,10.620270,4.918858,1.081691,0.678407
0,2014,9889024.0,71758.0,1734029.0,263590.0,580404.0,1068984.0,499269.0,109396.0,71017.0,Michigan,26,0.725633,17.534885,2.665480,5.869174,10.809803,5.048719,1.106237,0.718140
0,2015,9900571.0,72158.0,1722171.0,266211.0,595198.0,1094936.0,512955.0,110322.0,73679.0,Michigan,26,0.728827,17.394663,2.688845,6.011754,11.059322,5.181065,1.114299,0.744189
0,2016,9909600.0,72694.0,1710082.0,268580.0,608429.0,1117697.0,526378.0,111392.0,76331.0,Michigan,26,0.733571,17.256822,2.710301,6.139794,11.278932,5.311799,1.124082,0.770273
0,2017,9925568.0,72640.0,1697454.0,268656.0,622070.0,1147842.0,545875.0,114622.0,78702.0,Michigan,26,0.731847,17.101832,2.706707,6.267349,11.564497,5.499685,1.154816,0.792922
0,2012,12699589.0,81124.0,2885353.0,337023.0,649107.0,1439079.0,632138.0,161689.0,108971.0,Pennsylvania,42,0.638792,22.720050,2.653810,5.111244,11.331697,4.977626,1.273183,0.858067
0,2013,12731381.0,83093.0,2883622.0,344363.0,661608.0,1468125.0,656458.0,162842.0,112239.0,Pennsylvania,42,0.652663,22.649719,2.704836,5.196671,11.531546,5.156220,1.279060,0.881593
0,2014,12758729.0,85128.0,2872856.0,348332.0,677250.0,1502205.0,680881.0,163726.0,115989.0,Pennsylvania,42,0.667214,22.516788,2.730147,5.308131,11.773939,5.336590,1.283247,0.909095
0,2015,12779559.0,86400.0,2855340.0,352649.0,698397.0,1535222.0,702244.0,165557.0,119014.0,Pennsylvania,42,0.676080,22.343025,2.759477,5.464954,12.013106,5.495057,1.295483,0.931284
0,2016,12783977.0,87634.0,2831106.0,352143.0,712180.0,1578040.0,725919.0,168216.0,123775.0,Pennsylvania,42,0.685499,22.145738,2.754565,5.570880,12.343890,5.678350,1.315835,0.968204
0,2017,12790505.0,88660.0,2811564.0,350222.0,724522.0,1621733.0,752518.0,171742.0,127226.0,Pennsylvania,42,0.693170,21.981650,2.738141,5.664530,12.679194,5.883411,1.342730,0.994691
0,2012,1850481.0,11361.0,443920.0,84954.0,78939.0,142236.0,62806.0,16381.0,9995.0,West Virginia,54,0.613948,23.989438,4.590914,4.265864,7.686434,3.394036,0.885229,0.540130
0,2013,1853619.0,10965.0,443556.0,84691.0,81983.0,146020.0,64710.0,16721.0,10046.0,West Virginia,54,0.591546,23.929189,4.568954,4.422861,7.877563,3.491009,0.902073,0.541967
0,2014,1853881.0,10946.0,444839.0,86466.0,82939.0,150406.0,66496.0,16266.0,10298.0,West Virginia,54,0.590437,23.995014,4.664053,4.473804,8.113034,3.586854,0.877403,0.555483
0,2015,1851420.0,11071.0,442151.0,86404.0,85558.0,152377.0,69161.0,16676.0,10459.0,West Virginia,54,0.597973,23.881723,4.666904,4.621210,8.230277,3.735565,0.900714,0.564918
0,2016,1846092.0,11212.0,437243.0,87728.0,87889.0,153834.0,72391.0,16701.0,10780.0,West Virginia,54,0.607337,23.684789,4.752093,4.760814,8.332954,3.921311,0.904668,0.583936
0,2017,1836843.0,10439.0,438270.0,86440.0,89742.0,155423.0,74597.0,16296.0,11105.0,West Virginia,54,0.568312,23.859960,4.705900,4.885665,8.461420,4.061153,0.887174,0.604570

In [31]:
Allhousing["Unemployment_Rate"] = 100 * \
    Allhousing["Unemployment_Count"].astype(
        int) / Allhousing["Population"].astype(int)

Allhousing["Poverty_Rate"] = 100 * \
    Allhousing["People_Living_in_Poverty"].astype(
        int) / Allhousing["Population"].astype(int)


Allhousing

,Year,Population,People_Living_in_Poverty,Median_Household_Income,Unemployment_Count,Average_Cost_of_Rent_and_Utilities_Combined,Average_Value_of_an_Owner_Occupied_Home,Average_Monthly_Housing_Expense_for_a_Homeowner_with_a_Mortgage,Name,state,Unemployment_Rate,Poverty_Rate
0,2012,11533561.0,1723485.0,48246.0,569218.0,710.0,133700.0,1303.0,Ohio,39,4.935319,14.943217
0,2013,11549590.0,1773853.0,48308.0,582953.0,718.0,130800.0,1288.0,Ohio,39,5.047391,15.358580
0,2014,11560380.0,1790564.0,48849.0,536573.0,729.0,129600.0,1274.0,Ohio,39,4.641482,15.488799
0,2015,11575977.0,1775836.0,49429.0,477251.0,730.0,129900.0,1246.0,Ohio,39,4.122771,15.340701
0,2016,11586941.0,1732839.0,50674.0,423956.0,743.0,131900.0,1238.0,Ohio,39,3.658912,14.955103
0,2017,11609756.0,1683890.0,52407.0,378735.0,764.0,135100.0,1247.0,Ohio,39,3.262213,14.504095
0,2012,6485530.0,927123.0,48374.0,309363.0,719.0,123400.0,1150.0,Indiana,18,4.770050,14.295254
0,2013,6514861.0,969881.0,48248.0,315476.0,730.0,122800.0,1134.0,Indiana,18,4.842406,14.887209
0,2014,6542411.0,983826.0,48737.0,290469.0,741.0,122700.0,1119.0,Indiana,18,4.439785,15.037667
0,2015,6568645.0,978043.0,49255.0,258739.0,745.0,124200.0,1102.0,Indiana,18,3.939001,14.889570
0,2016,6589578.0,957694.0,50433.0,228929.0,758.0,126500.0,1097.0,Indiana,18,3.474107,14.533465
0,2017,6614418.0,933540.0,52182.0,202199.0,782.0,130200.0,1109.0,Indiana,18,3.056943,14.113713
0,2012,4340167.0,781485.0,42610.0,194610.0,638.0,120000.0,1120.0,Kentucky,21,4.483929,18.005874
0,2013,4361333.0,796202.0,43036.0,201987.0,655.0,120400.0,1123.0,Kentucky,21,4.631313,18.255932
0,2014,4383272.0,803866.0,43342.0,192877.0,667.0,121600.0,1124.0,Kentucky,21,4.400297,18.339405
0,2015,4397353.0,805841.0,43740.0,174308.0,675.0,123200.0,1112.0,Kentucky,21,3.963930,18.325593
0,2016,4411989.0,804139.0,44811.0,156509.0,690.0,126100.0,1116.0,Kentucky,21,3.547357,18.226224
0,2017,4424376.0,783586.0,46535.0,140717.0,713.0,130000.0,1131.0,Kentucky,21,3.180494,17.710656
0,2012,9897264.0,1582022.0,48471.0,614849.0,755.0,128600.0,1355.0,Michigan,26,6.212313,15.984438
0,2013,9886095.0,1625982.0,48411.0,616469.0,768.0,121700.0,1325.0,Michigan,26,6.235718,16.447161
0,2014,9889024.0,1633316.0,49087.0,554747.0,780.0,120200.0,1295.0,Michigan,26,5.609724,16.516453
0,2015,9900571.0,1616870.0,49576.0,477746.0,783.0,122400.0,1257.0,Michigan,26,4.825439,16.331078
0,2016,9909600.0,1575066.0,50803.0,412934.0,799.0,127800.0,1242.0,Michigan,26,4.167010,15.894345
0,2017,9925568.0,1510841.0,52668.0,361624.0,824.0,136400.0,1251.0,Michigan,26,3.643358,15.221708
0,2012,12699589.0,1604464.0,52267.0,548580.0,794.0,164900.0,1447.0,Pennsylvania,42,4.319667,12.633984
0,2013,12731381.0,1638820.0,52548.0,581533.0,813.0,164700.0,1442.0,Pennsylvania,42,4.567713,12.872288
0,2014,12758729.0,1667858.0,53115.0,556468.0,832.0,164900.0,1443.0,Pennsylvania,42,4.361469,13.072290
0,2015,12779559.0,1666569.0,53599.0,514993.0,840.0,166000.0,1425.0,Pennsylvania,42,4.029818,13.040896
0,2016,12783977.0,1647762.0,54895.0,468440.0,859.0,167700.0,1426.0,Pennsylvania,42,3.664274,12.889275
0,2017,12790505.0,1623537.0,56951.0,422016.0,885.0,170500.0,1446.0,Pennsylvania,42,3.299448,12.693299
0,2012,1850481.0,316526.0,40400.0,65115.0,594.0,97300.0,953.0,West Virginia,54,3.518815,17.105066
0,2013,1853619.0,321546.0,41043.0,69351.0,611.0,98500.0,965.0,West Virginia,54,3.741384,17.346931
0,2014,1853881.0,326225.0,41576.0,67035.0,630.0,100200.0,971.0,West Virginia,54,3.615928,17.596868
0,2015,1851420.0,323384.0,41751.0,63341.0,643.0,103800.0,966.0,West Virginia,54,3.421212,17.466809
0,2016,1846092.0,318060.0,42644.0,61215.0,658.0,107400.0,977.0,West Virginia,54,3.315924,17.228827
0,2017,1836843.0,317089.0,44061.0,57659.0,681.0,111600.0,997.0,West Virginia,54,3.139027,17.262717

In [32]:
Alledu = Alledu.round(4)
Alledu.head()

,Year,Population,People_over_25_with_No_Schooling,High_School_Diploma,GED,Associates_Degree,Bachelors_Degree,Masters_Degree,Professional_Degree,Doctoral_Degree,Name,state,No_Schooling_Rate,High_School_Education_Rate,GED_Rate,Associates_Degree_Rate,Bachelors_Degree_Rate,Masters_Degree_Rate,Professional_Degree_Rate,Doctoral_Degree Rate
0,2012,11533561.0,63192.0,2403387.0,291496.0,593037.0,1207216.0,504926.0,122033.0,74264.0,Ohio,39,0.5479,20.8382,2.5274,5.1418,10.4670,4.3779,1.0581,0.6439
0,2013,11549590.0,65640.0,2392326.0,295839.0,607861.0,1227819.0,521105.0,122484.0,77052.0,Ohio,39,0.5683,20.7135,2.5615,5.2631,10.6308,4.5119,1.0605,0.6671
0,2014,11560380.0,66013.0,2384432.0,297600.0,627729.0,1252463.0,537384.0,122786.0,81230.0,Ohio,39,0.5710,20.6259,2.5743,5.4300,10.8341,4.6485,1.0621,0.7027
0,2015,11575977.0,68837.0,2369349.0,299967.0,643162.0,1278763.0,554000.0,124512.0,82753.0,Ohio,39,0.5947,20.4678,2.5913,5.5560,11.0467,4.7858,1.0756,0.7149
0,2016,11586941.0,68548.0,2352099.0,302041.0,658910.0,1310995.0,571298.0,126124.0,84458.0,Ohio,39,0.5916,20.2996,2.6067,5.6867,11.3144,4.9305,1.0885,0.7289

In [33]:
Allhousing = Allhousing.round(4)
Allhousing.head()

,Year,Population,People_Living_in_Poverty,Median_Household_Income,Unemployment_Count,Average_Cost_of_Rent_and_Utilities_Combined,Average_Value_of_an_Owner_Occupied_Home,Average_Monthly_Housing_Expense_for_a_Homeowner_with_a_Mortgage,Name,state,Unemployment_Rate,Poverty_Rate
0,2012,11533561.0,1723485.0,48246.0,569218.0,710.0,133700.0,1303.0,Ohio,39,4.9353,14.9432
0,2013,11549590.0,1773853.0,48308.0,582953.0,718.0,130800.0,1288.0,Ohio,39,5.0474,15.3586
0,2014,11560380.0,1790564.0,48849.0,536573.0,729.0,129600.0,1274.0,Ohio,39,4.6415,15.4888
0,2015,11575977.0,1775836.0,49429.0,477251.0,730.0,129900.0,1246.0,Ohio,39,4.1228,15.3407
0,2016,11586941.0,1732839.0,50674.0,423956.0,743.0,131900.0,1238.0,Ohio,39,3.6589,14.9551

In [34]:
Alledu.to_csv("Edu.csv", index=False, header=True)

In [35]:
Allhousing.to_csv("Housing.csv", index=False, header=True)

In [36]:
fbi_json = requests.get(f"https://api.usa.gov/crime/fbi/sapi/api/data/arrest/states/offense/OH/all/2010/2010?API_KEY=qjxuYoCo1z10Fvy60mTLHOcftyK9sxevJw14QbvI").json()
fbi_json['results'][0]

{'aggravated_assault': 4075,
 'all_other_offenses': 69074,
 'arson': 232,
 'burglary': 7022,
 'curfew': 1336,
 'disorderly': 20622,
 'driving': 37463,
 'drug_abuse_gt': 32816,
 'drug_poss_m': 15893,
 'drug_poss_opium': 6643,
 'drug_poss_other': 4417,
 'drug_poss_subtotal': 28254,
 'drug_poss_synthetic': 1300,
 'drug_sales_m': 1402,
 'drug_sales_opium': 1541,
 'drug_sales_other': 663,
 'drug_sales_subtotal': 3961,
 'drug_sales_synthetic': 355,
 'drunkness': 4004,
 'embezzlement': 38,
 'forgery': 1621,
 'fraud': 3040,
 'g_all': 13,
 'g_b': 0,
 'g_n': 0,
 'g_t': 58,
 'ht_c_s_a': 0,
 'ht_i_s': 0,
 'larceny': 32988,
 'liquor': 12416,
 'manslaughter': 5,
 'mvt': 960,
 'murder': 190,
 'offense_family': 4455,
 'prostitution': 1737,
 'prostitution_a_p_p': 0,
 'prostitution_p': 0,
 'prostitution_p_p': 0,
 'rape': 532,
 'robbery': 2839,
 'sex_offense': 874,
 'simple_assault': 38486,
 'stolen_property': 3663,
 'suspicion': 82,
 'vagrancy': 39,
 'vandalism': 4800,
 'weapons': 3320,
 'csv_header': None,
 'data_year': 2010}

In [37]:
fbi_offense = []

for key in fbi_json['results'][0]:
    print(key)

    fbi_offense.append(key)
    
fbi_offense

aggravated_assault
all_other_offenses
arson
burglary
curfew
disorderly
driving
drug_abuse_gt
drug_poss_m
drug_poss_opium
drug_poss_other
drug_poss_subtotal
drug_poss_synthetic
drug_sales_m
drug_sales_opium
drug_sales_other
drug_sales_subtotal
drug_sales_synthetic
drunkness
embezzlement
forgery
fraud
g_all
g_b
g_n
g_t
ht_c_s_a
ht_i_s
larceny
liquor
manslaughter
mvt
murder
offense_family
prostitution
prostitution_a_p_p
prostitution_p
prostitution_p_p
rape
robbery
sex_offense
simple_assault
stolen_property
suspicion
vagrancy
vandalism
weapons
csv_header
data_year

['aggravated_assault',
 'all_other_offenses',
 'arson',
 'burglary',
 'curfew',
 'disorderly',
 'driving',
 'drug_abuse_gt',
 'drug_poss_m',
 'drug_poss_opium',
 'drug_poss_other',
 'drug_poss_subtotal',
 'drug_poss_synthetic',
 'drug_sales_m',
 'drug_sales_opium',
 'drug_sales_other',
 'drug_sales_subtotal',
 'drug_sales_synthetic',
 'drunkness',
 'embezzlement',
 'forgery',
 'fraud',
 'g_all',
 'g_b',
 'g_n',
 'g_t',
 'ht_c_s_a',
 'ht_i_s',
 'larceny',
 'liquor',
 'manslaughter',
 'mvt',
 'murder',
 'offense_family',
 'prostitution',
 'prostitution_a_p_p',
 'prostitution_p',
 'prostitution_p_p',
 'rape',
 'robbery',
 'sex_offense',
 'simple_assault',
 'stolen_property',
 'suspicion',
 'vagrancy',
 'vandalism',
 'weapons',
 'csv_header',
 'data_year']

In [38]:
years = ["2012", "2013", "2014", "2015", "2016", "2017"]
    
# set up lists to hold reponse info
off_year = []
off_type = []
off_ct = []

base_url = "https://api.usa.gov/crime/fbi/sapi/api/data/arrest/states/offense/OH/all/"
year = 0
slash = "/"
post_url = "?API_KEY=qjxuYoCo1z10Fvy60mTLHOcftyK9sxevJw14QbvI"

# Loop through the list of years and perform a request for data on each
for year in years:
    response = requests.get(base_url + year + slash + year + post_url).json()['results'][0]
    
    for offense in fbi_offense:
           
        off_year.append(response['data_year'])
        off_type.append(offense)
        off_ct.append(response[offense])

In [39]:
fbi_dict = {
    "Year": off_year,
    "Offense_Type": off_type,
    "Offense_Count": off_ct
}

fbi_data = pd.DataFrame(fbi_dict)
fbi_data.head()

   Year        Offense_Type  Offense_Count
0  2012  aggravated_assault         4213.0
1  2012  all_other_offenses        59879.0
2  2012               arson          175.0
3  2012            burglary         6686.0
4  2012              curfew          869.0